<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC46edq94TvaHn1iM8F1k5WFw5zc6zi11U</string>
	<key>GCM_SENDER_ID</key>
	<string>174010119704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huguesfils.Sharelist</string>
	<key>PROJECT_ID</key>
	<string>sharelist-3f2f0</string>
	<key>STORAGE_BUCKET</key>
	<string>sharelist-3f2f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174010119704:ios:398cac52b02d074975356d</string>
</dict>
</plist>